<div class="row justify-content-between mb-2">
  <% articles.each do |article| %>
  <div class="d-block d-sm-none col-1"></div>
  <div class="border rounded border-dark mt-3 col-sm-5 col-10">
    <div class="d-flex flex-row justify-content-between">
      <div>
        <p><%= article.title %></p>
      </div>
      <div>
        <%#ユーザー画像設定用%>
        <%# if article.user.image.blank? %>
          <img src="/assets/no_image.png" class='hidden rounded rounded-circle border' width="30" height="30" />
        <%# else %>
          <%#= image_tag article.user.image.to_s, :size => '30', class: "rounded rounded-circle" if article.user.image? %>
        <%# end %>
        <%= link_to article.user.name, user_path(article.user) %>
      </div>
    </div>
    <div>
      <p><%= truncate(article.content, length:30) %></p>
    </div>
    <div class="text-right">
      <%= link_to "続きを読む", article %>
    </div>
  </div>
  <div class="d-block d-sm-none col-1"></div>
  <% end %>
</div>
<%= paginate articles%>