<div class="text-center mt-1">
  <h1>検索結果</h1>
  <p>検索ワード：<%= @search_word %></p>
  <p>カテゴリー：<%=  @search_category %></p>
  <p><%= @articles_count %>件</p>
  
  <% if @search_word == "指定なし" %>
  <% @search_word = "" %>
  <% end %>
  
  <%= render "search_form" %>
  
</div>
  <% if @articles.blank? %>
  <p class="text-center mt-5">条件に当てはまる記事が見つかりませんでした</p>
  <% else %>
  <%= render "articles", articles: @articles %>
  <% end %>