<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
    <% @count_articles = user.articles.count %>
    <% @count_followings = user.followings.count %>
    <% @count_followers = user.followers.count %>
        <div class="d-flex flex-row mx-auto mt-2 border border-dark rounded p-1 justify-content-between">
        <img class="mr-2 rounded rounded-circle" src="<%= gravatar_url(user, { size: 50 }) %>" alt="">
        <div class="d-flex align-items-center"><%= link_to user.name, user_path(user) %></div>
        <div class="d-flex align-items-center">記事数 :<div class="ml-1 mr-1"><%= @count_articles %></div>/ フォロー :<div class="ml-1 mr-1"><%= @count_followings %></div>/ フォロワー :<div class="ml-1 mr-1 align-items-center"><%= @count_followers %></div></div>
        <%= render 'relationships/follow_button', user: user %>
        </div>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>