<% if users.any? %>
  <div class="mb-2">
    <% users.each do |user| %>
    <% @count_articles = user.articles.count %>
    <% @count_followings = user.followings.count %>
    <% @count_followers = user.followers.count %>
        <div class="mt-2 border border-dark rounded p-1 mx-auto row justify-content-center">
          <div class=" col-lg-2 p-0 d-flex flex-row justify-content-center">
            <% if user.image.blank? %>
              <img src="/assets/no_image.png" class='hidden rounded rounded-circle border' width="30" height="30" />
            <% else %>
              <%= image_tag user.image.to_s, :size => '30', class: "rounded rounded-circle" if user.image? %>
            <% end %>
            <div class="d-flex align-items-center ml-3 m-l-0 mr-0 justify-content-center"><%= link_to user.name, user_path(user) %></div>
          </div>
          <div class="d-flex align-items-center justify-content-center mt-2 mb-2 col-lg-5">記事数 :<div class="ml-1 mr-1"><%= @count_articles %></div>/ フォロー :<div class="ml-1 mr-1"><%= @count_followings %></div>/ フォロワー :<div class="ml-1 mr-1 align-items-center"><%= @count_followers %></div></div>
            <% if current_user == user %>
            <div class="d-flex align-items-center col-lg-3 m-l-0 mr-0">
              <div class="bg-dark text-white rounded m-0 p-2 mx-auto">あなたです</div>
            </div>
            <% else %>
            <div class="d-flex align-items-center justify-content-center col-lg-3 m-l-0 mr-0">
              <div class="mx-auto"><%= render 'relationships/follow_button', user: user %></div>
            </div>
            <% end %>
          
        </div>
    <% end %>
  </div>
  <%= paginate users %>
<% end %>