<div class="text-center">
  <h1><%= @user.name %></h1>
</div>
<div class="d-flex flex-row justify-content-around align-items-center">
<div>
  <% if @user.image.blank? %>
    <img src="/assets/no_image.png" class='hidden rounded rounded-circle border' width="200" height="200" />
  <% else %>
    <%= image_tag @user.image.to_s, :size => '200', class: "rounded rounded-circle" if @user.image? %>
  <% end %>
</div>
<div>
  <% if @user.self_introduction.blank? %>
    <p>自己紹介文が設定されていません</p>
  <% else %>
    <%= @user.self_introduction %>
  <% end %>
</div>
</div>
<% if current_user == @user %>
<div class="text-center">
  <%= link_to "ユーザー情報を編集する", edit_user_path %>
</div>
<% end %>
<div class="text-center">
  <p>フォロー :<%= link_to @count_followings, followings_user_path(@user), class: "ml-1 mr-1" %>/ フォロワー :<%= link_to @count_followers, followers_user_path(@user), class: "ml-1 mr-1" %>/ お気に入り :<%= link_to @count_likes, likes_user_path(@user), class: "ml-1 mr-1" %></p>
</div>
<div class="text-center">
<%= render 'relationships/follow_button', user: @user %>
</div>
<div class="mt-2">
  <p>投稿した記事</p>
</div>
<% if @user.articles.blank? %>
  <p class="text-center">まだ投稿がありません</p>
<% else %>
  <div>
    <%= render "articles/articles", articles: @articles %>
  </div>
<% end %>